# 要屏蔽的工具目录
.tools/
.agents/
.zig-global-cache/
.zig-local-cache/

# 系统、编辑器缓存
.vscode/
.idea/
.DS_Store
Thumbs.db

# 二进制程序兜底
*.exe
*.dll
*.zip
*.7z
*.tar

# 依赖和构建产物
node_modules/
*.xlsx
*.pdb
js/_main_before.js
js/_main_after.js